<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Blpl Finserv</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1{
    color: black;
    text-align: center; /* Center the headings */
    position: relative; /* Position relative for pseudo-element */
    font-size: 2em;
    margin: 20px 0;
    padding-bottom: 10px; /* Space for the underline */
}



h2 {
    font-size: 1.5em;
}

ul {
    margin-left: 20px;  
}

li {
    margin-bottom: 10px;
}
h5{
    text-decoration: underline;
}

    </style>
</head>
<body>
<%- include('parts/header' )%>
    <style>
        .transparent-header-inner {
            /* background: #69bf6f; */
            background: #FFF;

        }
    </style>
    <style>
        .display-flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .secure-hidden-items {
            display: none;
        }

        .unsecure-hidden-items {
            display: none;
        }

        .project-hidden-items {
            display: none;
        }

        #project-less-btn {
            display: none;
        }

        .tool-hidden-items {
            display: none;
        }

        #tool-less-btn {
            display: none;
        }

        .insurance-hidden-items {
            display: none;
        }

        #insurance-less-btn {
            display: none;
        }

        .personal-hidden-items {
            display: none;
        }

        #personal-less-btn {
            display: none;
        }

        #secure-less-btn {
            display: none;
        }

        #unsecure-less-btn {
            display: none;
        }
    </style>
<div class="container">
    <h1 style="text-align: center;">Privacy Policy</h1>
    <p>Blplfinserv.in (“Website” and “Mobile App”) recognizes the importance of maintaining your privacy. Blplfinserv.in is committed to maintaining the confidentiality, integrity, and security of all information of our users. This Privacy Policy describes how Blplfinserv.in collects and handles certain information it may collect and/or receive from you via the use of this Website. This Privacy Policy applies to current and former visitors to our Website. By visiting and/or using our website, you are accepting and consenting to the practices described in this Privacy Policy.</p>
    <p>By using or continuing to use the Website, you agree to our use of your information (including sensitive personal information as defined under the Information Technology Act, applicable rules, notifications, etc.) in accordance with this Privacy Policy, as may be amended from time to time by the Website at its discretion.</p>
    
    <h2>Controllers of Personal Information</h2>
    <p>Your Personal data/information will be stored and collected by ‘’Blpl Finserv’’ BLPL Financial Services along with its parent company (including its representatives, affiliates, and its business partners).</p>

    <h2>What Personal Information About You We Gather</h2>
    <p>The information we learn from customers helps us personalize and continually improve your experience at the Website. Here are the types of information we gather:</p>
    <ul>
        <li style="list-style-type: disc;">We receive and store any information you enter on our Website or give us in any other way. You can choose not to provide certain information, but then you might not be able to take advantage of many of our services and features.</li>
        <li style="list-style-type: disc;">We receive and store certain types of information whenever you interact with us. For example, we use "cookies" and obtain certain types of information when your web browser accesses the Website or advertisements and other content served by or on behalf of the Website on other websites. We may also receive/store information about your location and your mobile device, including a unique identifier for your device.</li>
        <li style="list-style-type: disc;">We might receive information about you from other sources and add it to our account information.</li>
    </ul>

    <h2>How do We Use The Information</h2>
    <p>Blplfinserv.in collects your information when you register for an account, use its products or services, or visit its Website's pages. When you register with Blplfinserv.in, you are asked for your first name, last name, state and city of residence, email address, date of birth, and sex. Once you register at the Website and sign in, you are not anonymous to us. Also, you are asked for your contact number during registration and may be sent SMS notifications about our services to your wireless device. Hence, by registering, you authorize Blplfinserv.in (including its business partners and affiliates) to send texts and email alerts to you with your login details and any other service requirements, including promotional mails and SMS, even if you have registered yourself under DND or DNC or NCPR services. Your authorization shall be valid as long as your account is not deactivated.</p>
    
    <p>We use your information in order to:</p>
    <ul style="list-style-type: square;">
        <li style="list-style-type: disc;">Assist our business partners in facilitating and delivering services to you, process payments and your applications, and communicate with you about products, services, and promotional offers.</li>
        <li style="list-style-type: disc;">Respond to queries, or requests submitted by you, and resolve your grievances/issues/problems with any services supplied to you.</li>
        <li style="list-style-type: disc;">Administer or otherwise carry out our obligations in relation to any agreement with our business partners.</li>
        <li style="list-style-type: disc;">Send you information about special promotions or offers. We might also tell you about new features or products/services. These might be our own offers or products/services, or third-party offers or products/services with whom Blplfinserv.in has a tie-up.</li>
        <li style="list-style-type: disc;">Use your information for internal analysis and to provide you with location-based services, such as advertising, search results, and other personalized content.</li>
        <li style="list-style-type: disc;">Use this information to improve our platform, prevent or detect fraud or abuses of our Website, and enable third parties to carry out technical, logistical, or other functions on our behalf. We may combine information we get from you with information about you we get from third parties.</li>
        <li style="list-style-type: disc;">Send you notices, communications, and recommend services that might be of interest to you, update our records, and generally maintain your accounts with us, display content and customer reviews.</li>
        <li style="list-style-type: disc;">As otherwise provided in this Privacy Policy.</li>
    </ul>

    <h2>Information Sharing and Disclosure</h2>
    <p>Blplfinserv.in will not sell, rent, or otherwise disclose your information for commercial purposes to anyone in a way that is contrary to the commitments made and/or other than as set forth in this Privacy Policy. Notwithstanding the foregoing, we may share your information with an affiliate and/or business partner. Blplfinserv.in may also share, sell, and/or transfer your personally identifiable information to any successor-in-interest as a result of a sale of any part of Blplfinserv.in business or upon the merger, reorganization, or consolidation of it with another entity on a basis that it is not the surviving entity. For the purposes of this paragraph, "affiliate" means any person, company, or Blplfinserv.in directly, or indirectly through one or more intermediaries, that controls, is controlled by, or is under common control with Blplfinserv.in.</p>

    <h2>We Collect Cookies</h2>
    <p>A cookie is a piece of data stored on the user's computer tied to information about the user. We may use both session ID cookies and persistent cookies. For session ID cookies, once you close your browser or log out, the cookie terminates and is erased. A persistent cookie is a small text file stored on your computer's hard drive for an extended period of time.</p>

    <h2>Log Files</h2>
    <p>Like most standard websites, we use log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks to analyze trends, administer the site, track user's movement in the aggregate, and gather broad demographic information for aggregate use.</p>

    <h2>How We Secure Your Personal Information</h2>
    <p>Blplfinserv.in understands that the confidentiality, integrity, and availability of your information are vital to our business operations and our success. We employ appropriate technical and organizational security measures at all times to protect the information we collect from you.</p>

    <h2>What Is Your Control Over Your Personal Information That's Collected And Used Online</h2>
    <p>It's important to note that the information we use about you helps us provide you with products, services, and experiences that benefit you. You have the ability to control how your non-personal information is collected and used online.</p>

    <h2>Third-Party Advertisers and Links to Other Websites</h2>
    <h5>Third-Party Advertising:</h5>
    <p>We may use third-party advertising companies and/or ad agencies to serve ads when you visit our Website. These companies may use information (excluding your name, address, email address, or telephone number) about your visits to this Website to provide advertisements on this Website and other third-party websites about goods and services that may be of interest to you.</p>

    <h5>Links to Other Websites:</h5>
    <p>There might be affiliates or other sites linked to Blplfinserv.in. Personal information that you provide to those sites is not our property. These affiliated sites may have different privacy practices, and we encourage you to read their privacy policies of these websites when you visit them.</p>

    <h2>Changes in this Privacy Policy</h2>
    <p>Blplfinserv.in reserves the right to change this policy from time to time, at its sole discretion. We may update this privacy policy to reflect changes to our information practices. We encourage you to periodically review. Checking the effective date below allows you to determine whether there have been changes since the last time you reviewed the statement.</p>
    </div>
    <%- include('parts/footer') %>
    </body>
    </html>
